###########################################################################
# MOMD project, Anyang Normal University, IMP-CAS
# Reaction Specifications for knockout reactions (c+v)+T->c+X
#
# Created: 2020/09/05
# Author: SUN Yazhou, asia.rabbit@163.com
# Last modified: 2020/09/05 by SUN Yazhou
###########################################################################

#----------------------- REACTION INFO -----------------------------------
# 16C + C -> 15C + n + X   @240MeV/u
# ZP  AP  ZT  AT  Elab (MeV/u) (0-4)
  6   16  6   12  240.
# Ac   Zc  (the core identity) (5-6)
  15   6
# S2C (the spectroscopic factor) (7)
  1.0
# n   l   2j  (0d5/2) (8-10)
  0   2   5

#----------------------- POTENTIAL INFO ----------------------------------
# V0(MeV)   r0(fm)   a(fm) (the central nuclear potential) (11-13)
  -61.85    2.67     0.60
# VS(MeV)   rS(fm)   aS(fm) (the spin-orbit interaction) (14-16)
  -61.85    2.67     0.60
# RC(fm) (the effective Coulomb radius of the core assuming\
# a uniform charge distribution, usually taken as equal to r0) (17)
  2.67

#----------------------- DENSITY INFO ------------------------------------
# core density file (18)
  C15.den
# target density file (19)
  C12.den
